<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ExcelReader</servlet-name>
        <servlet-class>com.excel.upload.ExcelReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenderGraph</servlet-name>
        <servlet-class>com.graph.GenderGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StageGraph</servlet-name>
        <servlet-class>com.graph.StageGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrageGraph</servlet-name>
        <servlet-class>com.graph.GrageGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicGraph</servlet-name>
        <servlet-class>com.graph.TopicGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Topicwisegrph</servlet-name>
        <servlet-class>com.graph.Topicwisegrph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcelReader</servlet-name>
        <url-pattern>/ExcelReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenderGraph</servlet-name>
        <url-pattern>/GenderGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StageGraph</servlet-name>
        <url-pattern>/StageGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrageGraph</servlet-name>
        <url-pattern>/GrageGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicGraph</servlet-name>
        <url-pattern>/TopicGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Topicwisegrph</servlet-name>
        <url-pattern>/Topicwisegrph</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
